<!DOCTYPE html>
<html>
<head>
  <title>Edit your Recipe</title>
</head>
<body>
  <h1><%=@recipe.name%> -  by <%=@user.username%></h1> 
  <form method="href" action="/recipes/<%=@recipe.id%>/edit_name">
    <input type="submit" value=" EDIT Name "><br><br><br><br>
  </form>
  <h4>Ingredients: </h4><p><br><%=@recipe.ingredients%></p>
  <form method="href" action="/recipes/<%=@recipe.id%>/edit">
    <input type="submit" value=" EDIT Ingredients "><br><br><br><br>
  </form>
  <h4>Instructions:</h4><br> <p><%=@recipe.instructions%></p>
 
  <form method="href" action="/recipes/<%=@recipe.id%>/edit">
    <input type="submit" value=" EDIT Instructions "><br><br><br><br>
  </form>

  <form method="post" action="/recipes/<%=@recipe.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete"><br><br>

    <input type="submit" value=" DELETE this recipe " ><br><br><br>
    <form>
  

  <a href="/recipes/user_index"> Back to your list of recipes</a>

</body>
</html>


